.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1002;
}

.modal-container {
    width: 300px;
}

.modal-close {
    position: absolute;
    padding: .5em;
    top: 8px;
    right: 12px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1003;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.modal-content {
    font-size: 1rem;
}